<br>
<br>
<div class="ecommerce-footer-section  w-100 pt-5">
    <div class="container-fluid w-100">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3  text-md-left">
                <div class="text-center">
                    <img height="100px" width="100px" src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-website-logo-img.png" class="img" />
                    <div class="d-flex flex-row justify-content-center justify-content-md-start mt-3 mb-3">
                        <div class="ecommerce-footer-section-icons">
                            <i class="fab fa-google icon"></i>
                        </div>
                        <div class="ecommerce-footer-section-icons">
                            <i class="fa fa-facebook icon"></i>
                        </div>
                        <div class="ecommerce-footer-section-icons">
                            <i class="fa fa-instagram icon"></i>
                        </div>
                        <div class="ecommerce-footer-section-icons">
                            <i class="fab fa-telegram icon"></i>
                        </div>
                    </div>
                    <p class="ecommerce-footer-address"> 37,Ayur Vigyan Nagar,KPHB Colony, Hyderabad, India.
                    </p>
                </div>
            </div>
            <div class="col-6 col-lg-3  mt-3">
                <h1 style="font-size:18px;" class="ecommerce-footer-section-heading"> Get to Know US</h1>
                <ul class="ecommerce-footer-section-list-items">
                    <li class="ecommerce-footer-section-list"> About us </li>
                    <li class="ecommerce-footer-section-list"> Career</li>
                    <li class="ecommerce-footer-section-list"> press Release</li>
                    <li class="ecommerce-footer-section-list"> Gift a smile</li>
                </ul>
            </div>

            <div class="col-6 col-lg-3 mt-3">
                <h1 style="font-size:18px;" class="ecommerce-footer-section-heading"> Contact with US</h1>
                <ul class="ecommerce-footer-section-list-items">
                    <li class="ecommerce-footer-section-list"> Facebook </li>
                    <li class="ecommerce-footer-section-list"> Twitter</li>
                    <li class="ecommerce-footer-section-list"> Instagram</li>
                </ul>
            </div>
            <div class="col-6 col-lg-3 mt-3">
                <h1 style="font-size:18px;" class="ecommerce-footer-section-heading"> Let Us Help You</h1>
                <ul class="ecommerce-footer-section-list-items">
                    <li class="ecommerce-footer-section-list"> About us </li>
                    <li class="ecommerce-footer-section-list"> Career</li>
                    <li class="ecommerce-footer-section-list"> press Release</li>
                    <li class="ecommerce-footer-section-list"> Gift a smile</li>
                </ul>
            </div>
        </div>
        <hr class="hr-line" />
        <div class="text-center">
            <i class="fa fa-copyright icon" aria-hidden="true"></i>
            <span class="ecommerce-footer-section-copyright">
                2023 by vSagar.created with Python-Django.
            </span>
        </div>
    </div>
</div>